{% extends "base.html" %}

{% block cuerpo %}
    <div class="row"><!--la fila-->
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--columna izquierda-->

        <h1>mama</h1>
        <div class="card"><!--la tarjeta-->
          <div class="card-body">
            <form action="registrarMateria/" method="POST">{% csrf_token %} <!-- falta action -->
              <div class="form-group" py-3>
                <input type="text" id="txtcodigo" name="txtcodigo" placeholder="codigo materia" minlenght="1" maxlenght="6" required>
              </div>
              <div class="form-group py-3">
                <input type="text" id="txtnombre" name="txtnombre" placeholder="nombre materia" maxlenght="100" required>
              </div>
                <div class="form-group py-3">
                  <input type="text" id="numcreditos" name="numcreditos" min="1" maxlenght="9" required>
                </div>
                <div class="form-group py-3">
                  <button type="submit" class="btn btn-primary">Guardar Materias</button>
                </div>
            </form>
          </div>
        </div><!--la tarjeta-->
        
        </div><!--columna izquierda-->

    
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna derecha-->
    <h1> listado de materias </h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">codigo</th>
            <th scope="col">nombre</th>
            <th scope="col">creditos</th>
          </tr>
        </thead>
        <tbody>
        {% for m in mismaterias %}
        <tr>
        <td>
          {{forloop.counter}}
        </td>
        <td>
          {{m.codigo}}
        </td>
        <td>
          {{m.nombre}}
        </td>
        <td>
          {{m.creditos}}
        </td>
        </tr>
        
        
        {% endfor %}


        </tbody>
      </table>
    </div><!--columna derecha-->
</div><!--la fila-->
{% endblock %}